@import "@/styles/variables.scss";

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  & > .menu {
    height: $space-64;
    padding: $space-16;
    display: inline-flex;
    align-items: center;
    gap: $space-6;
    cursor: pointer;

    h1 {
      font-size: $space-32;
      cursor: default;
    }
  }

  & > .overlay {
    background-color: rgba(black, 0.75);
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  & > nav {
    background-color: $bg-default;

    height: 100%;
    min-width: fit-content;
    width: $space-160;
    margin-top: calc($space-64 * -1);
    padding: $space-6 $space-8;
    display: flex;
    flex-direction: column;
    gap: $space-16;
    position: relative;
    z-index: 3;

    & > h3 {
      padding: $space-12 0 0 $space-8;
    }

    & > section {
      display: flex;
      flex-direction: column;
      gap: $space-4;

      & > .btn {
        background-color: transparent;
        height: $space-32;
        width: 100%;
        padding: $space-2 $space-12;
        display: inline-flex;
        align-items: center;
        border: none;
        border-radius: $space-4;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover,
        &:active,
        &.selected {
          background-color: $highlight;
          color: $text-secondary;
        }
      }
    }
  }

  &.open {
    & > .overlay {
      opacity: 1;
    }

    & > nav {
      transform: none;
      visibility: visible;
    }
  }

  &.closed {
    & > .overlay {
      opacity: 0;
      visibility: hidden;
    }

    & > nav {
      transform: translateX($space-160 * -1);
      pointer-events: none;
      visibility: hidden;
    }
  }
}

@include desktop() {
  .wrapper {
    width: fit-content;
    position: relative;

    &.open,
    &.closed {
      & > .menu {
        & > div {
          display: none;
        }
      }

      & > .overlay {
        opacity: 1;
        display: none;
      }

      & > nav {
        margin-top: auto;
        transform: none;
        visibility: visible;
        border-right: 1px solid $highlight;
        z-index: 1;
      }
    }
  }
}
