@import "@/styles/variables.scss";

.wrapper {
  height: 100%;
  width: 100%;
  padding-top: $space-64;
  display: flex;
  flex-direction: column;
  gap: $space-16;

  & > .scrollWrapper {
    height: 100%;
    width: 100%;
    padding: $space-6 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $space-12;

    & > .card {
      background-color: $highlight;
      width: 100%;
      padding: $space-8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: $space-6;

      & > img {
        height: auto;
        width: 100%;
        object-fit: cover;
        border-radius: $space-6 $space-6 0 0;
      }

      & > .title {
        padding: $space-12 0 $space-6 0;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: $text-secondary;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    & > .scrollWrapper {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
}
