@import "@/styles/variables.scss";

.wrapper {
  height: $space-32;
  width: 100%;
  padding: $space-4 $space-6;
  display: inline-flex;
  align-items: center;
  gap: $space-4;
  border: 1px solid $text-default;
  border-radius: $space-6;

  & > input {
    background-color: transparent;
    width: 100%;
    border: none;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &:focus-within {
    border-color: $highlight;
  }
}
